body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(95, 35, 45);
}
.navbar {
    
    background-color: hsl(0, 2%, 67%);

}
.navbar img {
    height: 150px;
}

.navbar-toggler-icon{/*Tamaño boton hamburguesa*/
    font-size: 40px;
    
}

.navbar ul li{
    font-size: 20px;
    margin: 15px;
}
.navbar ul li a:hover {
    background-color: #54e5ea;
    border-radius: 10px;
}

/*-------------------------------FOOTER---------------------------------------------*/

.icon {
    font-size: 2rem;
    color: #12cbd4; /* color */
    display: inline-block; /* Para que transform funcione bien */
}

.icon-link:hover .icon {
    color: #ff6600; /* Cambia el color */
    transform: scale(1.3); /* Agranda el icono */
}